#card {
    .card-style {
        background: #fff !important;
        border-radius: 10px !important;
    }
    .none-style {
        background-color: #ffa33c;
        color: #fff;
    }
    .unstoppable-style {
        background-color: #4bb543;
        color: #fff;
    }
    .fixed-style {
        background-color: #ffa33c;
        color: #fff;
    }
    .pausable-style {
        background-color: #ffa33c;
        color: #fff;
    }
    .supply-type-style {
        background-color: #ff0000;
        color: #fff;
    }
    .capped-style {
        background-color: #4bb543;
        color: #fff;
    }
    .ownable-style {
        background-color: #0000ff;
        color: #fff;
    }
    .unlimited-style {
        background-color: #0000ff;
        color: #fff;
    }
    .role-base-style {
        background-color: #4bb543;
        color: #fff;
    }
}
